*{
    margin: 0;
    padding: 0;
}
body{
    background: url("/img/test2.jpg") ;
    background-size: cover;
    background-attachment: fixed;

}

.city{
    max-width: 50%;
    display: grid;
    grid-template-columns: 60% auto;
    background-color: #2196F3;
    margin: auto;
    background: inherit;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.616);   
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
    color: ivory;
}
.city-main{
 
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.city-main>span{
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    text-align: left;
    padding-left: 0.5rem;
}
.city-main>p{
    padding-left: 0.6rem;

}

.brief>hr{
    width: 95%;
    height: 1px;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
}
.brief{
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}
.brief>p{
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-weight: bold;
}

.value{
    font-size: 0.9rem;
    float: right;;
    padding: 0.4rem 0.4rem 0.4rem 0;
    margin-right: 0.5rem;
    font-weight: bold;
}
#time{
    padding: 0.5rem;
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
}
.capitalize {
    text-transform: capitalize;
  }
.rule2{
    display: none;
}
section{
    color: ivory;
}
.container{
    background: inherit;
    width: 10rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.616);   
    position: relative;
    margin-left: 5rem;
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
    color: ivory;
    display: inline-block;
    padding-top: 20px;
}

.container:before{
    content: "";
    background: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* box-shadow:0px 0px 0px 2000px rgba(207, 201, 201, 0.3) inset;   */
    box-shadow: inset 0 0 0 200px rgba(201, 196, 196, 0.5);
    filter: blur(30px);
    margin: -20px;
    z-index: -1;
}
.w-icon{
    color: yellow;
    font-size: 5rem;
    font-weight: bolder;
    margin-left: 20%;
    margin-bottom: 0.2em;
    padding: 0;
}


.data>h1{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    color: rgb(255, 250, 0);
}
.data>h2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding: 0;


}
.rule1{
    margin: 0;
height: 1px;
background-color: whitesmoke;
border: none;
}

.data>h3{
    text-align: center;
    font-size: 0.8em;
    margin: 0;
}

nav, header{
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav-wrapper>img{
max-width: 4%;
margin: 0;
padding: 0;
float: left;
margin-top: 0.5rem;

}
.nav-wrapper{
height: 4rem;
background-color: #161515;
border-radius: 5px;
width: 100%;
}

.nav-wrapper>a{
    max-width: 30%;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    margin-right: 0%;
    display: inline-block;
    margin-top: 0.5rem;

}

.nav-wrapper>input{
    float: right;
    width: 30%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(164, 165, 165);
    padding: 0.5em;
    border-radius: 0.3em;
    margin-top: 1rem;
    text-align: center;
}

button{
    float: right;
    margin-right: 20%;
    width: 5em;
    border-radius: 0.2em;
    margin-top: 1rem;
    padding: 0.4em;
    margin-left: 1px;
}

button {
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color:rgb(177, 177, 19);
    color: white;
  }

.nav-item:active, .nav-item:hover{
    color: rgb(221, 173, 14);
}
 a{
     text-decoration: none;
 }
#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 1.5rem;


}

.nav-item{
    text-decoration: none;
    color: snow;
    padding: 0.5rem;
    font-weight: bold;

}


input::placeholder{
    text-align: center;
}

.data{
    text-align: center;
    margin: 0;
    padding: 0;
}

.day{
    font-size: 3rem;
    font-weight: bolder;
    padding: 0;
}

footer{
    margin: 0;
    width: 100%;
    margin-top: 5em;
}

.footer-main{
    background-color: rgba(255, 248, 220, 0.425);
    border-radius: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 5px;
    margin: 0;
}
.footer-main>div{
    padding: 5px 0;
    font-size: 20px;
}
.ts, .ts1{
    text-align: left;
}
footer>div>div>div>i{
    color: yellow;
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.1em;
    padding: 0.2em;
    display: block;
}
 address{
     margin: 0;
     padding: 0;
     display: inline;
 }

footer>div>div>div>i>span, 
footer>div>div>div>i>address,
footer>div>div>div>i>a{
    color: black;
    font-size: 1rem;
    padding-left: 0.5em;
    font-weight: normal;
    padding-bottom: 3em;
    margin: 0;
}
.right{
    text-align: center;
    background-color: rgba(255, 248, 220, 0.425);
    grid-column-start: 1;
    grid-column-end: 3;
}
.right>span{
    font-size: 0.8em;
}
.f-about{
    text-align: center;
}
.f-about>h4, .f-about>p{
    margin: 0;
    padding: 0.2em;
    font-size: 0.9em;
}


@media only screen and (max-width: 1144px) {
    button{
        margin-right: 3%;
    }
    .nav-wrapper>a{
        max-width: 40%;
        font-size: 1em;
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 880px) {
    .city{
        max-width: 90%;
    }
    .nav-wrapper>img{
        max-width: 8%;
        }

.nav-wrapper>a{
    max-width: 30%;
    font-size: 1em;
    margin-top: 1rem;
}

.nav-wrapper>input{
    margin-top: 0.8rem;
    padding: 0.3em;

}


button{
    margin-right: 5%;
    width: 4em;
    margin-top: 0.8rem;
    padding: 0.2em;


}

.nav-item{
    font-size: 0.8rem;
}
#nav{
    margin-top: 1rem;
}
footer>div>div>div>i{
    margin-left: 0.5em;
}

.footer-main{
    grid-template-columns: 45% auto;

}

}


@media only screen and (max-width: 550px) {
    .brief>p{
        font-size: 0.7rem;
        padding: 0.3rem 0.3rem 0.3rem 0;
    }
    .value{
        font-size: 0.6rem;
        float: right;;
        padding: 0.1rem 0.2rem 0.1rem 0;
        margin-right: 0.1rem;
    }
    .city{
        max-width: 90%;
        margin-bottom: 8%;
    }

    .city-main>span{
        font-size: 1.5rem;

    }
    .nav-wrapper>img{
        max-width: 10%;
        margin-left: 0.5rem;
        }
    .nav-wrapper>input{
        max-width: 25%;
    }
    .nav-wrapper > a {
        font-size: 0.8em;
    }

   .container{
       height: 112px;
       width: 100%;
       display: grid;
       grid-template-columns: 30% 40% 30%;
       margin: 0 0 1% 0;
       padding: 1%;
   } 
.w-icon{
    color: yellow;
    font-size: 5rem;
    font-weight: bolder;
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

.more-info{
    grid-column-start: 1;
    grid-column-end: 2;
    display: inline-block;
    grid-row: 1;
}

.temp{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 1;
}

.rule1{
    display: none;
}

.rule2{
    margin: 0;
    height: 2px;
    background-color: rgb(241, 240, 240);
    border: none;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0;
}
button>i{
font-size: 0.8rem;}
button{
    width: 1.5rem;
    margin-left: 0.1rem;
    margin-right: 0.5rem;
}
input::placeholder{
    text-align: center;
    font-size: 0.6rem;
}

footer>div>div>div>i{
    margin-left: 0.5em;
    font-size: 1rem;
}

footer>div>div>div>i>span, 
footer>div>div>div>i>address,
footer>div>div>div>i>a{
font-size: 0.5rem;
}
.f-about>h4, .f-about>p{
font-size: 0.5em;
}
.right > span {
font-size: 0.5em;
}

}

@media only screen and (max-width: 320px) {
    .brief>p{
        font-size: 0.6rem;
        padding: 0.2rem 0.2rem 0.2rem 0;
    }
    .value{
        font-size: 0.5rem;
        float: right;;
        padding: 0.1rem 0.1rem 0.1rem 0;
        margin-right: 0.1rem;
    }
    .city{
        max-width: 90%;
    }

    .city-main>span{
        font-size: 1rem;

    }

    .data>h1{
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        margin: 0;
        padding: 0;
    }
    .data>h2{
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: 1rem;
    
    }
    .nav-wrapper>a{
        display: none;
    }

    .nav-item{
        font-size: 0.5rem;
        margin-right: 0.5rem;

    }

    .nav-wrapper>img{
        max-width: 12%;
        margin-left: 0.5rem;
        }

    button{
        padding: 0.1em;
        margin-right: 0.5rem;
    }
    .nav-wrapper>input{
        padding: 0.2em;
        max-width: 30%;
    
    }
    input::placeholder{
        text-align: center;
        font-size: 0.5rem;
    }

    footer>div>div>div>i{
        margin-left: 0.5em;
        font-size: 1rem;
    }

    footer>div>div>div>i>span, 
    footer>div>div>div>i>address,
    footer>div>div>div>i>a{
    font-size: 0.5rem;
}
    .f-about>h4, .f-about>p{
    font-size: 0.5em;
}
.right > span {
    font-size: 0.5em;
}
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }